*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    margin-top: 1%;
    box-shadow: 5px 5px 5px 5px #a8a8a88f;
}
nav h1{
    text-align: center;
}


.main__content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
}
.container{
    width: 30%;
    align-items: center;
    border: 1px solid #acacac93;
    box-shadow: 2px 2px 2px 2px #acacac93;
    height: auto;
    padding: 2%;
    border-radius: 3px;
    
}

.container h2{
    text-align: center;
    margin-bottom: 3rem;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

form button{
    background-color: #2c8d2c;
    color: white;
    padding: 3%;
    border: 0;
    border-radius: 5px;
    
}

form input{
    padding: 2%;
}
form input:focus{
    outline: none; /*quita el borde negro por defecto*/
    border: 2px solid #2c8d2c;
}


.shape {
    position: absolute;
    bottom: 0;
    z-index: -1;
    opacity: 0.6;
}


.shape__1 {
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #2c8d2c;
    clip-path: polygon(0 66%, 0% 100%, 100% 100%);
}


.shape__2 {
    right: 0;
    width: 100%;
    height: 250px;
    background-color: #2c8d2c;
    clip-path: polygon(100% 66%, 0% 100%, 100% 100%);
}